@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,700,800");
body {
  font-family: "Raleway", sans-serif;
  color: #263843;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: #263843;
}

h2 {
  font-weight: 800;
  font-size: 27px;
  margin-top: 27px;
  margin-bottom: 15px;
}

a:hover {
  text-decoration: none;
}

.btn.btn-primary {
  background-color: #f15c2a;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #da410e;
}

.box {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
  padding: 34px 20px;
}
.box .box-header {
  border-bottom: 1px solid rgba(112, 112, 112, 0.16);
  padding-bottom: 14px;
  margin-bottom: 18px;
  font-weight: 600;
}

/* The radio */
label.radio {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
}
label.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
label.radio .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 12px;
  width: 12px;
  border: 2px solid #c3ccd3;
  border-radius: 50%;
}
label.radio:hover input ~ .checkmark {
  background-color: #c3ccd3;
}
label.radio input:checked ~ .checkmark {
  background-color: #f15c2a;
  border-color: #f15c2a;
}
label.radio input:checked ~ .txt {
  color: #263843;
  font-weight: 700;
}

.container-fluid .name-block {
  font-size: 20px;
  padding: 10px 20px;
  border-bottom: 1px solid #707070;
  font-weight: 600;
}
.container-fluid .header-logo {
  padding: 25px 20px;
}
.container-fluid .header-logo img {
  width: 225px;
}
.container-fluid .header-logo nav {
  font-size: 22px;
}
.container-fluid .header-logo nav ul {
  margin: 0;
}
.container-fluid .header-logo nav ul li {
  margin: 0 25px;
}
.container-fluid .header-logo nav ul li a {
  color: #768791;
}
.container-fluid .header-logo nav ul li:hover a, .container-fluid .header-logo nav ul li.nav-active-item a {
  text-decoration: none;
  color: #263843;
}
.container-fluid .header-logo nav ul li.nav-active-item a {
  font-weight: 700;
}
.container-fluid .header-logo .search-wrapper {
  color: #707070;
  font-size: 20px;
}
.container-fluid .header-logo .search-wrapper .divider {
  border-right: 1px solid #707070;
  width: 1px;
  margin: 0 16px;
}

section.slider {
  position: relative;
  color: #29424e;
}
section.slider img {
  height: 794px;
  max-width: 100%;
  object-fit: cover;
}
section.slider .slider-text {
  position: absolute;
  top: 50%;
  max-width: 50%;
}
section.slider .slider-text .sub-header {
  font-weight: 600;
  font-size: 19px;
}
section.slider .slider-text .header {
  font-weight: 600;
  font-size: 42px;
  margin: 25px 0 40px 0;
}

main {
  background-color: #f9f9f9;
  padding: 30px;
}
main .categories {
  width: 236px;
}
main .popular-recent {
  width: 305px;
}
main .posts {
  flex: 1;
}
main .posts .post {
  margin: 0 20px 20px;
}
main .posts .post .post-img-wrapper {
  box-shadow: 0 0 2px rgba(125, 145, 148, 0.48);
  padding: 2px;
}
main .posts .post .date-info {
  color: #c3ccd3;
  font-size: 12px;
  margin-bottom: 22px;
}
main .posts .post p {
  color: #768791;
  line-height: 26px;
}
main .posts .post .post-menu {
  color: #c3ccd3;
}
main .posts .post .users {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 6px;
}
main .posts .post .users li:nth-child(n+2) {
  margin-left: -15px;
}

/*# sourceMappingURL=index.css.map */
