@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,700,800");
body {
  font-family: "Raleway", sans-serif;
  color: #263843;
  font-size: 14px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: #263843; }

h2 {
  font-weight: 800;
  font-size: 27px;
  margin-top: 27px;
  margin-bottom: 15px; }

a {
  color: inherit; }
  a:hover {
    text-decoration: none; }

.secondary-text {
  color: #c3ccd3;
  font-size: 12px; }

p {
  color: #768791;
  line-height: 26px;
  margin: 0; }

.btn.btn-primary {
  background-color: #f15c2a;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 15px 30px;
  border: none;
  border-radius: 8px; }
  .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #da410e; }

.box {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
  padding: 34px 20px; }
  .box .box-header {
    border-bottom: 1px solid rgba(112, 112, 112, 0.16);
    padding-bottom: 14px;
    margin-bottom: 18px;
    font-weight: 600; }

ul.nav-centered {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none; }

/* The radio */
label.radio {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */ }
  label.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  label.radio .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 12px;
    width: 12px;
    border: 2px solid #c3ccd3;
    border-radius: 50%; }
  label.radio:hover input ~ .checkmark {
    background-color: #c3ccd3; }
  label.radio input:checked ~ .checkmark {
    background-color: #f15c2a;
    border-color: #f15c2a; }
  label.radio input:checked ~ .txt {
    color: #263843;
    font-weight: 700; }

#mobile {
  background: #f69372;
  position: relative;
  overflow: hidden; }

#mobileBodyContent {
  background: white;
  position: relative;
  z-index: 20;
  overflow: hidden;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -khtml-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

#header {
  height: 60px;
  background: #eae8e5; }

#image {
  height: 280px;
  width: 100%;
  overflow: hidden;
  position: relative; }
  #image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }

#title {
  height: 20px;
  width: 200px;
  margin: 40px auto;
  background: #eae8e5; }

#text .item {
  height: 10px;
  width: calc(100% - 40px);
  margin: 20px auto;
  background: #eae8e5; }

#burgerBtn {
  display: none;
  border-top: 2px solid #f15c2a;
  height: 25px;
  width: 30px;
  box-sizing: border-box;
  position: absolute;
  z-index: 30;
  left: 20px;
  top: 65px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -khtml-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
  #burgerBtn:before {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
    left: 0;
    background: #f15c2a;
    top: 10px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  #burgerBtn:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
    left: 0;
    background: #f15c2a;
    bottom: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }

#nav {
  position: absolute;
  z-index: 10;
  list-style-type: none;
  margin: 100px 0 0 30px;
  padding: 0;
  overflow: hidden; }
  #nav li {
    height: 30px;
    width: 0;
    margin: 30px 0;
    font-size: 24px;
    color: #fff;
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -khtml-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in; }
    #nav li + li {
      margin-left: -40px; }
      #nav li + li + li {
        margin-left: -80px; }
        #nav li + li + li + li {
          margin-left: -120px; }
          #nav li + li + li + li + li {
            margin-left: -160px; }
            #nav li + li + li + li + li + li {
              margin-left: -200px; }

#demoSelector {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 333px;
  left: 50%;
  margin-left: 227px; }
  #demoSelector li {
    padding: 10px 0 10px 30px;
    position: relative;
    cursor: pointer; }
    #demoSelector li:after {
      content: "";
      position: absolute;
      height: 10px;
      width: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -khtml-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      background: #d8d5d0;
      left: 0;
      top: 18px; }
    #demoSelector li:before {
      content: "";
      position: absolute;
      height: 18px;
      width: 18px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -khtml-border-radius: 12px;
      -o-border-radius: 12px;
      border-radius: 12px;
      border: 2px solid #888888;
      left: -6px;
      top: 12px;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -khtml-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -khtml-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
    #demoSelector li.active:before {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -khtml-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }

.navigation #nav li {
  width: 200px;
  margin-left: 0; }

.navigation #burgerBtn {
  border-color: transparent;
  top: 20px; }
  .navigation #burgerBtn:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 33px;
    left: -2px;
    background-color: #fff; }
  .navigation #burgerBtn:after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -khtml-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    bottom: 11px;
    width: 33px;
    left: -2px;
    background-color: #fff; }

.demo1.navigation #mobileBodyContent {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -khtml-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  margin-left: 260px; }

.demo2.navigation #mobileBodyContent {
  margin-left: 320px;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  -o-opacity: 0.4;
  opacity: 0.4; }

.shift-right-effect.navigation #mobileBodyContent {
  transform: translate(320px);
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  -o-opacity: 0.4;
  opacity: 0.4; }

.demo3.navigation #mobileBodyContent {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -khtml-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  visibility: hidden; }

header.page-header .name-block {
  font-size: 20px;
  padding: 10px 20px;
  border-bottom: 1px solid #707070;
  font-weight: 600; }

header.page-header .header-logo {
  padding: 25px 20px; }
  header.page-header .header-logo img {
    max-width: 225px; }
  header.page-header .header-logo ul.navbar-menu {
    font-size: 22px;
    display: flex;
    margin: 0 auto;
    list-style-type: none; }
    header.page-header .header-logo ul.navbar-menu li {
      margin: 0 25px; }
      header.page-header .header-logo ul.navbar-menu li a {
        color: #768791; }
      header.page-header .header-logo ul.navbar-menu li:hover a, header.page-header .header-logo ul.navbar-menu li.active a {
        text-decoration: none;
        color: #263843; }
      header.page-header .header-logo ul.navbar-menu li.active a {
        font-weight: 700; }
  header.page-header .header-logo .search-wrapper {
    color: #707070;
    font-size: 20px; }
    header.page-header .header-logo .search-wrapper .search {
      color: #f15c2a;
      cursor: pointer; }
    header.page-header .header-logo .search-wrapper .divider {
      border-right: 1px solid #707070;
      width: 1px;
      margin: 0 16px; }

@media (max-width: 1200px) {
  header.page-header nav.header-logo img {
    max-width: 150px; }
  header.page-header nav.header-logo ul.navbar-menu {
    font-size: 16px; }
    header.page-header nav.header-logo ul.navbar-menu li {
      margin: 0 5px; } }

@media (max-width: 768px) {
  header.page-header .name-block {
    padding: 5px;
    font-size: 14px; }
  header.page-header nav.header-logo .img-logo {
    flex: 1;
    text-align: center; }
    header.page-header nav.header-logo .img-logo img {
      max-width: 130px; }
  header.page-header nav.header-logo .search-wrapper {
    font-size: 16px; }
  header.page-header nav.header-logo ul.navbar-menu {
    display: none; }
  #burgerBtn {
    display: block; } }

section.slider {
  position: relative;
  color: #29424e; }
  section.slider img {
    height: 794px;
    max-width: 100%;
    object-fit: cover; }
  section.slider .slider-text {
    position: absolute;
    top: 50%;
    max-width: 50%;
    transform: translate(0, -50%); }
    section.slider .slider-text .sub-header {
      font-weight: 600;
      font-size: 19px; }
    section.slider .slider-text .header {
      font-weight: 600;
      font-size: 42px;
      margin: 25px 0 40px 0; }

main.home-main {
  background-color: #f9f9f9;
  padding: 30px 0; }

footer {
  padding: 50px;
  background-color: #ffffff; }
  footer .img-logo img {
    max-width: 200px; }
  footer .footer-navs nav.website-menu li {
    color: #29424e;
    margin: 0 25px;
    font-size: 20px; }
    footer .footer-navs nav.website-menu li a:hover {
      color: inherit;
      text-decoration: underline; }
  footer .footer-navs nav.social {
    margin: 40px 0; }
    footer .footer-navs nav.social li {
      color: #c3ccd3;
      background-color: rgba(195, 204, 211, 0.13);
      margin: 0 5px;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 50%; }
      footer .footer-navs nav.social li a {
        color: inherit;
        width: 100%;
        height: 100%;
        display: block;
        font-size: 19px; }
        footer .footer-navs nav.social li a:hover {
          color: #889aa8; }
  footer .footer-navs nav.policies li {
    margin: 0 20px;
    font-size: 12px;
    color: #29424e; }
    footer .footer-navs nav.policies li a {
      color: inherit;
      letter-spacing: 2px; }
      footer .footer-navs nav.policies li a:hover {
        color: #06090b; }

@media (max-width: 992px) {
  footer .footer-navs nav.website-menu li {
    margin: 0 5px;
    font-size: 16px; }
  footer .footer-navs nav.policies li {
    margin: 0 5px; } }

@media (max-width: 768px) {
  footer {
    flex-direction: column; } }

.categories {
  margin-bottom: 20px; }

.posts .post {
  margin-bottom: 20px;
  padding: 14px; }
  .posts .post .post-label {
    background-color: #f15c2a;
    padding: 8px 15px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    position: absolute; }
    .posts .post .post-label.black {
      background-color: black; }
  .posts .post .post-img-wrapper {
    box-shadow: 0 0 2px rgba(125, 145, 148, 0.48);
    padding: 2px; }
    .posts .post .post-img-wrapper img {
      max-width: 100%; }
  .posts .post .date-info {
    margin-bottom: 22px; }
  .posts .post p {
    margin-bottom: 25px; }
  .posts .post .post-menu {
    color: #c3ccd3; }
  .posts .post .users {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 6px; }
    .posts .post .users li:nth-child(n + 2) {
      margin-left: -15px; }
  .posts .post .post-social a {
    color: inherit;
    margin-left: 10px; }
    .posts .post .post-social a i {
      margin-right: 8px;
      font-size: 18px; }
    .posts .post .post-social a.like-btn:hover i {
      color: #f25b84; }
    .posts .post .post-social a.comment-btn:hover i {
      color: #3546a5; }

.post-small {
  display: flex;
  margin-bottom: 28px; }
  .post-small > img {
    width: 56px;
    height: 56px;
    margin-right: 14px; }
  .post-small > div {
    flex: 1; }
  .post-small:hover p {
    text-decoration: underline; }

@media (max-width: 992px) {
  .post-small {
    flex-direction: column; }
    .post-small > img {
      margin: auto; } }

@media (max-width: 768px) {
  .post-small {
    flex-direction: row; }
    .post-small > img {
      margin-right: 14px; } }

.pagination-wrapper {
  margin: 20px 0;
  position: relative; }
  .pagination-wrapper .next {
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: 27px;
    color: #f15c2a; }
  .pagination-wrapper .pagination {
    justify-content: center; }
    .pagination-wrapper .pagination li {
      width: 30px;
      height: 30px;
      line-height: 27px;
      border: 1px solid #c3ccd3;
      border-radius: 50%;
      text-align: center;
      margin: 0 5px;
      color: #768791; }
      .pagination-wrapper .pagination li:hover {
        background-color: #768791;
        color: white; }
      .pagination-wrapper .pagination li a {
        color: inherit;
        width: 100%;
        height: 100%;
        display: block; }
      .pagination-wrapper .pagination li.active {
        background-color: #f15c2a;
        color: white;
        border-color: #f15c2a; }

main.products-page {
  background-color: #f9f9f9;
  padding: 100px 0; }
  main.products-page h2 {
    margin: 0; }
  main.products-page .products {
    background-color: white;
    padding: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11); }
    main.products-page .products .products-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 171px;
      grid-gap: 100px;
      margin: 60px 0 100px; }
      main.products-page .products .products-grid img {
        max-width: 100%; }
    main.products-page .products .description {
      margin-bottom: 50px; }
      main.products-page .products .description img {
        max-width: 50%; }
        main.products-page .products .description img.right-img {
          float: right;
          margin-left: 25px; }
        main.products-page .products .description img.left-img {
          float: left;
          margin-right: 25px; }
    main.products-page .products .text-products {
      margin-top: 92px;
      margin-bottom: 10px; }
      main.products-page .products .text-products div {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 14px; }
      main.products-page .products .text-products p {
        font-size: 20px;
        margin-bottom: 50px; }
      main.products-page .products .text-products .btn {
        padding-left: 70px;
        padding-right: 70px; }
    main.products-page .products .tune-your-ride {
      background-image: url(../img/products-post/porsche-mode-new.jpg);
      height: 450px;
      background-size: cover;
      background-position: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      main.products-page .products .tune-your-ride h2 {
        color: white;
        font-size: 40px;
        font-weight: 600;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); }
      main.products-page .products .tune-your-ride div {
        color: #e3e3e3;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); }
      main.products-page .products .tune-your-ride .btn {
        padding-left: 70px;
        padding-right: 70px; }

/*# sourceMappingURL=index.css.map */
