$grid-dark: #ccc;
$grid-light: #fafafa;

.frow {
  display: block;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;

  .dark {
    background-color: $grid-dark;
    color: $grid-light;
  }

  .light {
    background-color: $grid-light;
    color: $grid-dark;
  }

  .left {
    div {
      max-width: 400px;
      text-align: left;
      margin-left: auto;
    }
  }
  .right {
    div {
      max-width: 400px;
      text-align: right;
    }
  }
  .img-wrapper {
    padding-bottom: 50px;
    margin-top: -20px;

    .img {
      transform: translateX(-50%);
      max-height: 500px;
      max-width: 600px;
      margin: 5px 0;
      background-color: transparent;
    }
  }

  .year {
    font-size: 121px;
    line-height: 121px;
    font-weight: bold;
    font-family: $font-oswald;
    letter-spacing: -6px;
    padding: 50px;

    .small {
      font-size: 50px;
      line-height: 50px;
      letter-spacing: -2px;
    }
  }

  .description {
    font-size: 16px;
    padding: 50px;
  }
}

// tablet and desktop
@media (min-width: $sm) {
  .frow {
    display: grid;
  }
}

// mobile
@media (max-width: $sm) {
  .frow {
    display: flex;
    flex-direction: column;

    .year {
      order: 1;
    }
    .description {
      order: 2;
    }
    .img-wrapper {
      order: 3;
      text-align: center;

      .img {
        transform: none;
        max-width: 100%;
      }
    }
  }
}
