main.wrapper-automotive {
  background-color: $main-bg;
  padding: 50px 0;
  font-size: 12px;
  .container {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;

    h1 {
      text-align: center;
      margin-bottom: 60px;
    }
    h5,
    h4 {
      color: $search-moton-blog;
    }
    p {
      color: #263843;
    }
    .img-automotive {
      img {
        max-width: 100%;
      }
    }
  }
}
