body {
  font-family: $font-raleway;
  color: $base-font-color;
  font-size: 14px;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-raleway;
  color: $base-font-color;
}
h2 {
  font-weight: $extra-bold;
  font-size: 27px;
  margin-top: 27px;
  margin-bottom: 15px;
}

a {
  &:hover {
    text-decoration: none;
  }
}
.secondary-text {
  color: $radio-border;
  font-size: 12px;
}

// Buttons
.btn.btn-primary {
  background-color: $brand-primary;
  text-transform: uppercase;
  font-weight: $semi-bold;
  letter-spacing: 2px;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;

  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active {
    background-color: darken($brand-primary, 10%);
  }
}

// BOX - reusable component
.box {
  border-radius: 2px;
  background-color: $box-bg;
  box-shadow: $box-el-shadow;
  padding: 34px 20px;

  .box-header {
    border-bottom: 1px solid rgba($border-color, 0.16);
    padding-bottom: 14px;
    margin-bottom: 18px;
    font-weight: $semi-bold;
  }
}
