.wrapper-contact-page {
  background: $main-bg;
  padding-top: 30px;
}
/* Form */

.form-contact {
  background: $light-text;
  margin: auto;
  color: white;
  padding: 20px;
  border: 1px solid #313131;

  .form-contact p {
    margin-top: 10px;
  }
  .form-group textarea {
    margin-top: 10px;
  }
  .contact-control {
    background-color: #a7a4a4;
    border: none;
    color: white;
    border-radius: 0;
  }
  .contact-control::placeholder {
    color: white;
  }
  .contact-control:focus {
    background-color: white;
    color: #313131;
  }
  .btn-send {
    background-color: white;
    color: $box-bg;
    border-radius: 0;
    border: none;
  }
  .btn-send:hover {
    background: $search-moton-blog;
  }
}
.contact-img {
  img {
    max-width: 100%;
  }
}
//adress

.contact-page {
  padding-top: 30px;
  padding-bottom: 30px;

  .contact-mobile {
    color: $search-moton-blog;
  }
  .email {
    color: $search-moton-blog;
  }
}
