.wrapper-contact-page {
  background: $main-bg;
  padding-top: 30px;
}
/* Form */
#contact-us {
  padding: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.form-contact {
  background: $light-text;
  margin: auto;
  color: white;
  padding: 20px;
  max-width: 600px;
  border: 1px solid #313131;
  box-shadow: 0px 5px 4px 0.5px rgba(0, 5, 4, 0.5);
  .form-contact p {
    margin-top: 10px;
  }
  .form-group textarea {
    margin-top: 10px;
  }
  .contact-control {
    background-color: #a7a4a4;
    border: none;
    color: white;
    border-radius: 0;
  }
  .contact-control::placeholder {
    color: white;
  }
  .contact-control:focus {
    background-color: white;
    color: #313131;
  }
  .btn-send {
    background-color: white;
    color: $box-bg;
    border-radius: 0;
    border: none;
  }
  .btn-send:hover {
    background: $search-moton-blog;
  }
}
//adress

.contact-page {
  padding-top: 30px;
  padding-bottom: 30px;

  .contact-mobile {
    color: $search-moton-blog;
  }
  .email {
    color: $search-moton-blog;
  }
  .contact-img {
    img {
      max-width: 100%;
    }
  }
}
