main.wrapper-faq {
  background: $main-bg;
  .acc {
    dl {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      &:after {
        content: "";
        display: block;
        height: 1em;
        width: 100%;
        background-color: $ast-brand-primary;
      }
    }
    dt > a {
      text-align: center;
      font-weight: 300;
      padding: 23px;
      display: block;
      text-decoration: none;
      color: #fff;
      transition: background-color 0.5s ease-in-out;
    }
    dd {
      margin: 0;
      background-color: #fff;
      font-size: 1em;
      line-height: 1.5em;
      background-clip: text;
      > p {
        padding: 1em 2em 1em 2em;
      }
    }
    position: relative;
    background-color: #fff;
  }

  .acc_title {
    background-color: lighten($ast-brand-primary, 8%);
    border-bottom: 1px solid $ast-brand-primary;
    font-size: 20px;
    &:before {
      content: "+";
      font-size: 1.5em;
      line-height: 24px;
      float: left;
      transition: transform 0.3s ease-in-out;
    }
    &:hover {
      background-color: $ast-brand-primary;
    }
  }

  .acc_title_active {
    background-color: $ast-brand-primary;
    &:before {
      transform: rotate(-225deg);
    }
  }

  .acc_panel {
    height: auto;
    overflow: hidden;
  }

  @media all {
    .acc_panel {
      max-height: 50em;
      transition: max-height 1s;
    }
  }

  @media screen and (min-width: 48em) {
    .acc_panel {
      max-height: 15em;
      transition: max-height 0.5s;
    }
  }

  .acc_panel_col {
    max-height: 0;
  }

  .anim_in {
    animation-name: acc_in;
    animation-duration: 0.65s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-delay: 0s;
  }

  .anim_out {
    animation-name: acc_out;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-delay: 0s;
  }

  @keyframes acc_in {
    0% {
      opacity: 0;
      transform: scale(0.8);
      background-image: none;
    }
    100% {
      opacity: 1;
      transform: scale(1);
      background-image: linear-gradient(to bottom, #eee 0%, #fff 100%);
    }
  }

  @keyframes acc_out {
    0% {
      opacity: 1;
      transform: scale(1);
      background-image: linear-gradient(to bottom, #eee 0%, #fff 100%);
    }
    100% {
      opacity: 0;
      transform: scale(0.8);
      background-image: none;
    }
  }
}
