footer {
  padding: 50px;
  a {
    cursor: pointer;
  }

  .ast-style & {
    background-color: $footer-bg;
  }

  .moton-style & {
    background-color: $moton-brand-primary;
  }

  .img-logo img {
    max-width: 200px;
  }

  .footer-navs {
    nav.website-menu {
      li {
        .ast-style & {
          color: $slider-text-color;
        }
        .moton-style & {
          color: #fff;
        }
        margin: 0 25px;
        font-size: 20px;

        a:hover {
          color: inherit;
          text-decoration: underline;
        }
      }
      .footer-menu {
        a {
          color: $base-font-color;
          line-height: 18px;
          .moton-style & {
            color: #fff;
          }
        }
        .sub-menu {
          width: 220px;
        }
      }
    }

    nav.social {
      margin: 40px 0;

      li {
        color: $radio-border;
        background-color: rgba($radio-border, 0.13);
        margin: 0 5px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;

        a {
          color: inherit;
          width: 100%;
          height: 100%;
          display: block;
          font-size: 19px;

          &:hover {
            color: darken($radio-border, 20%);
          }
        }
      }
    }

    nav.policies {
      li {
        margin: 0 20px;
        font-size: 12px;
        .ast-style & {
          color: $slider-text-color;
        }
        .moton-style & {
          color: #fff;
        }

        a {
          color: inherit;
          letter-spacing: 2px;
          &:hover {
            color: darken($slider-text-color, 20%);
          }
        }
      }
    }
  }

  address {
    .ast-style & {
      color: $slider-text-color;
    }
    .moton-style & {
      color: #fff;
    }
    p {
      color: inherit;
    }
  }
}

// small desktop
@media (max-width: $lg) {
  footer {
    .footer-navs {
      nav.website-menu {
        li {
          margin: 0 5px;
          font-size: 16px;
        }
      }

      nav.policies {
        li {
          margin: 0 5px;
        }
      }
    }
  }
}

// tablet
@media (max-width: $md) {
  footer {
    padding: 15px;
    flex-direction: column;

    .footer-navs {
      .website-menu,
      nav.social,
      .policies {
        margin: 15px;
      }
    }

    address {
      text-align: center;
      p {
        display: inline-block;
        margin: 5px;
      }
    }
  }
}
