header.page-header {
  .name-block {
    font-size: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid $border-color;
    font-weight: bold;
  }

  .lang-select {
    img {
      width: 32px;
    }
  }

  .header-logo {
    padding: 25px 20px;

    img {
      max-width: 225px;
    }

    ul.navbar-menu {
      font-size: 22px;
      display: flex;
      margin: 0 auto;
      list-style-type: none;
      li {
        margin: 1px 25px;
        a {
          color: $secondary-font-color;
        }

        &:hover,
        &.active {
          a {
            text-decoration: none;
            color: $base-font-color;
          }
        }

        &.active {
          a {
            font-weight: bold;
          }
        }
      }
    }

    .search-wrapper {
      color: $border-color;
      font-size: 20px;

      .search {
        color: $ast-brand-primary;
        cursor: pointer;
      }

      .divider {
        border-right: 1px solid $border-color;
        width: 1px;
        margin: 0 16px;
      }

      form {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 1s;
        width: 50px;
        height: 50px;
        background: #eee;
        box-sizing: border-box;
        border-radius: 25px;
        border: 4px solid #eee;
        padding: 5px;
      }

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 42.5px;
        line-height: 30px;
        outline: 0;
        border: 0;
        display: none;
        font-size: 1em;
        border-radius: 20px;
        padding: 0 20px;
        background: #eee;
      }

      .fas {
        box-sizing: border-box;
        padding: 10px;
        width: 42.5px;
        height: 42.5px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        color: $ast-brand-primary;
        text-align: center;
        font-size: 1.2em;
        transition: all 1s;
      }

      form:hover {
        width: 200px;
        cursor: pointer;
      }

      form:hover input {
        display: block;
      }

      form:hover .fas {
        background: $ast-brand-primary;
        color: white;
      }
    }
  }
}

// small desktop
@media (max-width: $xl) {
  header.page-header {
    nav.header-logo {
      img {
        max-width: 150px;
      }
      ul.navbar-menu {
        font-size: 16px;
        li {
          margin: 1px 5px;
        }
      }
    }
    .lang-select {
      img {
        width: 30px;
      }
      .dropdown-toggle {
        padding: 5px;
      }
    }
    .lang-select-title {
      display: none;
    }
  }
}

// tablet
@media (max-width: $md) {
  header.page-header {
    .name-block {
      padding: 5px;
      font-size: 14px;
    }
    nav.header-logo {
      .img-logo {
        flex: 1;
        text-align: center;
        img {
          max-width: 130px;
        }
        // order: 2;
      }
      .search-wrapper {
        font-size: 16px;
      }

      // hide desktop menu
      ul.navbar-menu {
        display: none;
      }
    }
  }
  // show burger button
  #burgerBtn {
    display: block;
  }
}

// DROPDOWN MENU STYLES
// todo move vars out
$red: lighten($ast-brand-primary, 10%);
$orange: #f8b195;
$yellow: #feceab;
$white: white;

.menu {
  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  > ul {
    > .menu-item {
      flex: 1;

      &:after {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        bottom: 5px;
        left: calc(50% - 2px);
        background: $yellow;
        will-change: transform;
        transform: scale(0);
        transition: transform 0.2s ease;
      }
      &:hover:after {
        transform: scale(1);
      }
    }
  }
  &-item {
    position: relative;
    line-height: 2.5rem;
    text-align: center;
    a {
      overflow: hidden;
      display: block;
      color: $white;
    }
    @at-root .sub-menu & {
      padding: 0.75rem 0;
      background: $red;
      opacity: 0;
      transform-origin: bottom;
      animation: enter 0.2s ease forwards;
      @for $n from 1 through 10 {
        &:nth-child(#{$n}) {
          animation-duration: 0.2s + 0.1s * ($n - 1);
          animation-delay: 0.1s * ($n - 1);
        }
      }
      &:hover {
        background: $orange;
      }
      a {
        padding: 0 0.75rem;
      }
    }
  }
}

.sub-menu {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 250px;
  top: 100%;
  display: none;
  z-index: 1;
  @at-root .menu-item:hover > & {
    display: block;
  }
  .menu-item a {
    color: #fff;
  }
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scaleY(0.98) translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
