main {
  background-color: $main-bg;
  padding: 30px;

  .categories {
    width: 236px;
  }

  .popular-recent {
    width: 305px;
  }

  .posts {
    flex: 1;

    .post {
      margin: 0 20px 20px;

      .post-img-wrapper {
        box-shadow: 0 0 2px rgba($img-wrapper-shadow, 0.48);
        padding: 2px;
      }

      .date-info {
        color: $radio-border;
        font-size: 12px;
        margin-bottom: 22px;
      }
      p {
        color: $secondary-font-color;
        line-height: 26px;
      }

      .post-menu {
        color: $radio-border;
      }
      .users {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-left: 6px;

        li:nth-child(n + 2) {
          margin-left: -15px;
        }
      }
    }
  }
}
