header.moton-header {
  background-color: $moton-brand-primary;
  padding: 25px;
  .lang-select {
    img {
      width: 32px;
    }
  }

  .name-block {
    margin-top: -10px;
  }
  div {
    color: $box-bg;
  }

  .search-wrapper {
    color: $border-color;
    font-size: 20px;

    .search {
      color: $ast-brand-primary;
      cursor: pointer;
      position: relative;
    }

    .divider {
      border-right: 1px solid $border-color;
      width: 1px;
      margin: 0 16px;
    }

    form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-100%, -50%);
      transition: all 1s;
      width: 50px;
      height: 50px;
      background: #eee;
      box-sizing: border-box;
      border-radius: 25px;
      border: 4px solid #eee;
      padding: 5px;
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 42.5px;
      line-height: 30px;
      outline: 0;
      border: 0;
      display: none;
      font-size: 1em;
      border-radius: 20px;
      padding: 0 20px;
      background: #eee;
    }

    .fas {
      box-sizing: border-box;
      padding: 10px;
      width: 42.5px;
      height: 42.5px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      color: $search-moton-blog;
      text-align: center;
      font-size: 1.2em;
      transition: all 1s;
    }

    form:hover {
      width: 300px;
      cursor: pointer;
    }

    form:hover input {
      display: block;
    }

    form:hover .fas {
      background: $ast-brand-primary;
      color: white;
    }
  }
  nav {
    border-top: 1px solid $box-bg;
    margin-top: 25px;
    margin-bottom: -20px;
  }
  ul.navbar-menu {
    font-size: 22px;
    display: flex;
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
    margin: 0 auto;
    & > li {
      margin: 1px 25px;
      a {
        color: $box-bg;
      }

      &:hover,
      &.active {
        & > a {
          text-decoration: none;
          color: $ast-brand-primary;
        }
      }

      &.active {
        a {
          font-weight: bold;
        }
      }
    }
  }
}

// small desktop
@media (max-width: $xl) {
  header.moton-header {
    .lang-select {
      img {
        width: 30px;
      }
      .dropdown-toggle {
        padding: 5px;
      }
    }
    .lang-select-title {
      display: none;
    }
  }
}

// tablet
@media (max-width: $md) {
  header.moton-header {
    padding: 15px;
    padding-left: 70px;

    .img-logo img {
      max-width: 137px;
    }
    nav {
      display: none !important; // overwrite Bootstrap class
    }
    .name-block {
      display: none;
    }
    .search-wrapper {
      font-size: 16px;
      form:hover {
        width: calc(100vw - 158px);
      }
    }
  }
}
