// Pagination
.pagination-wrapper {
  $line-height: 27px;

  margin: 20px 0;
  position: relative;

  .next {
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: $line-height;

    .ast-style & {
      color: $ast-brand-primary;
    }

    .moton-style & {
      color: $moton-brand-primary;
    }
  }

  .pagination {
    justify-content: center;

    li {
      width: 30px;
      height: 30px;
      line-height: $line-height;
      border: 1px solid $radio-border;
      border-radius: 50%;
      text-align: center;
      margin: 0 5px;
      color: $secondary-font-color;

      &:hover {
        background-color: $secondary-font-color;
        color: white;
      }

      a {
        color: inherit;
        width: 100%;
        height: 100%;
        display: block;
      }

      &.active {
        color: white;

        .ast-style & {
          background-color: $ast-brand-primary;
          border-color: $ast-brand-primary;
        }

        .moton-style & {
          background-color: $moton-brand-primary;
          border-color: $moton-brand-primary;
        }
      }
    }
  }
}
