.wrapper-questions-page {
  padding-top: 30px;
  padding-bottom: 30px;

  .question-page {
    background-color: lightgray;
    padding: 30px;

    h2 {
      text-align: center;
      font-size: 80px;
    }

    p {
      text-align: center;
      padding: 20px 0 20px 0;
    }
    .contact-inform {
      padding: 20px 0 20px 0;
      a:hover {
        color: $ast-brand-primary;
      }
    }
    .form-questions {
      background: #efefef;
      margin: auto;
      color: white;
      padding: 20px;
      border: 1px solid #313131;
    }
    .contact-control-question {
      background-color: white;
      border: none;
      color: white;
      border-radius: 5px;
      margin-bottom: 35px;
    }
    .contact-control-question::placeholder {
      color: #cfcece;
    }
    .contact-control-question:focus {
      background-color: white;
      color: #313131;
    }
    .button-send-question {
      text-align: center;
    }
    .btn-send:hover {
      background: $search-moton-blog;
    }
  }
}
