section.slider {
  position: relative;
  color: $slider-text-color;

  img {
    height: 794px;
    max-width: 100%;
    object-fit: cover;
  }

  .slider-text {
    position: absolute;
    top: 50%;
    max-width: 50%;
    transform: translate(0, -50%);

    .sub-header {
      font-weight: $semi-bold;
      font-size: 19px;
    }

    .header {
      font-weight: $semi-bold;
      font-size: 42px;
      margin: 25px 0 40px 0;
    }
  }
}
