@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,700");

// fonts
$font-raleway: "Raleway", sans-serif;

// colors
$border-color: #707070;
$base-font-color: #263843;
$secondary-font-color: #768791;
$slider-text-color: #29424e;
$brand-primary: #f15c2a;
$main-bg: #f9f9f9;
$box-bg: #ffffff;
$radio-border: #c3ccd3;

// font-weight
$semi-bold: 600;
$bold: 700;

// shadows
$box-el-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
