@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,700,800");

// fonts
$font-raleway: "Raleway", sans-serif;
// font-weights
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// colors
$border-color: #707070;
$base-font-color: #263843;
$secondary-font-color: #768791;
$slider-text-color: #29424e;
$brand-primary: #f15c2a;
$brand-danger: #f25b84;
$main-bg: #f9f9f9;
$box-bg: #ffffff;
$radio-border: #c3ccd3;
$img-wrapper-shadow: #7d9194;
$comment-color: #3546a5;

// shadows
$box-el-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
